flows.json
[{"id":"1ffa1df498689b2b","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"e96b6089532b6254","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/Water Pump/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":830,"y":420,"wires":[]},{"id":"35aadaa95bc3a47a","type":"ha-switch","z":"1ffa1df498689b2b","name":"Tun on Water Pump","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"f4956e222aaf668d","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":190,"y":420,"wires":[["9cd895179d27bf3a"],["08d03b61e5885038"]]},{"id":"9cd895179d27bf3a","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["e96b6089532b6254"]]},{"id":"08d03b61e5885038","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["e96b6089532b6254"]]},{"id":"68f25181ec1582aa","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/Light/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":810,"y":560,"wires":[]},{"id":"28ddb34341b9515b","type":"ha-switch","z":"1ffa1df498689b2b","name":"Tun on  Lights","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"febd662a1cc58a97","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":170,"y":560,"wires":[["4fdb0295fc2c5879"],["f95951442ba2ae6a"]]},{"id":"4fdb0295fc2c5879","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":520,"wires":[["68f25181ec1582aa"]]},{"id":"f95951442ba2ae6a","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["68f25181ec1582aa"]]},{"id":"8e91adfdbca10573","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/pump1/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":810,"y":680,"wires":[]},{"id":"1d2a0bbb4d315d16","type":"ha-switch","z":"1ffa1df498689b2b","name":"Tun on  Pump1","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"8b58dbecb0169361","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":680,"wires":[["a6feac604904456f"],["3eeececce27cc0bf"]]},{"id":"a6feac604904456f","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["8e91adfdbca10573"]]},{"id":"3eeececce27cc0bf","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":720,"wires":[["8e91adfdbca10573"]]},{"id":"130edc59de8fe7f7","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/pump2/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":810,"y":800,"wires":[]},{"id":"650413a0c45afdda","type":"ha-switch","z":"1ffa1df498689b2b","name":"Tun on  Pump2","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"5389a6247fbba479","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":800,"wires":[["525cde89287fb9f3"],["233b754533a21e52"]]},{"id":"525cde89287fb9f3","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["130edc59de8fe7f7"]]},{"id":"233b754533a21e52","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[["130edc59de8fe7f7"]]},{"id":"60ea3b288f0ed207","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/pump3/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":810,"y":920,"wires":[]},{"id":"4f0c6ea7a82de19c","type":"ha-switch","z":"1ffa1df498689b2b","name":"Turn on Pump3","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"caba24ee7cef7029","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":920,"wires":[["3f72edf452b73b9e"],["7786d8d7565e7b1b"]]},{"id":"3f72edf452b73b9e","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["60ea3b288f0ed207"]]},{"id":"7786d8d7565e7b1b","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":960,"wires":[["60ea3b288f0ed207"]]},{"id":"a7b2e2bfcc3b6893","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/output/pump4/command","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":810,"y":1040,"wires":[]},{"id":"69ec5635a3a9aee2","type":"ha-switch","z":"1ffa1df498689b2b","name":"Turn on Pump4","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"698115068bba51c2","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":1040,"wires":[["e94eb0e2ab36e12a"],["3fc9cfb268ffca06"]]},{"id":"e94eb0e2ab36e12a","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1000,"wires":[["a7b2e2bfcc3b6893"]]},{"id":"3fc9cfb268ffca06","type":"change","z":"1ffa1df498689b2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1080,"wires":[["a7b2e2bfcc3b6893"]]},{"id":"6490eb3cb8afceb1","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Pump State","entityConfig":"bf5d1a4969077641","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1340,"wires":[[]]},{"id":"192368635301845a","type":"mqtt in","z":"1ffa1df498689b2b","name":"Pump State","topic":"Hydroponics_1/test1/output/Water Pump/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":170,"y":1340,"wires":[["6490eb3cb8afceb1"]]},{"id":"7b67778e3fc9916f","type":"ha-select","z":"1ffa1df498689b2b","name":"Mode Select","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"3c57c2729f1a310f","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"}],"x":670,"y":1220,"wires":[["58d5e26460281a15"]]},{"id":"58d5e26460281a15","type":"mqtt out","z":"1ffa1df498689b2b","name":"","topic":"Hydroponics_1/test1/state/Mode","qos":"","retain":"","respTopic":"","contentType":"text/plain","userProps":"","correl":"","expiry":"","broker":"b415e1164d7d3e42","x":950,"y":1220,"wires":[]},{"id":"9a30518c9e7c51e2","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Light State","entityConfig":"5fc5c522a06afe74","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1400,"wires":[[]]},{"id":"cf1cbe302e69d084","type":"mqtt in","z":"1ffa1df498689b2b","name":"Light State","topic":"Hydroponics_1/test1/output/Light/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":160,"y":1400,"wires":[["9a30518c9e7c51e2"]]},{"id":"26193b102ca8f0ec","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Pump1 State","entityConfig":"daaca62f434e4ddb","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1460,"wires":[[]]},{"id":"85066d7c44f5515a","type":"mqtt in","z":"1ffa1df498689b2b","name":"Pump1 State","topic":"Hydroponics_1/test1/output/pump3/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":170,"y":1460,"wires":[["26193b102ca8f0ec"]]},{"id":"588541e460121ad6","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Pump2 State","entityConfig":"2513bdeb4ac0eea0","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1520,"wires":[[]]},{"id":"e92108c771b270ca","type":"mqtt in","z":"1ffa1df498689b2b","name":"Pump2 State","topic":"Hydroponics_1/test1/output/pump2/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":170,"y":1520,"wires":[["588541e460121ad6"]]},{"id":"61333a240f076b78","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Pump3 State","entityConfig":"8db6ec941ce33a9f","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1580,"wires":[[]]},{"id":"64dc537031174f94","type":"mqtt in","z":"1ffa1df498689b2b","name":"Pump3 State","topic":"Hydroponics_1/test1/output/pump3/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":170,"y":1580,"wires":[["61333a240f076b78"]]},{"id":"374c64c338188fef","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Pump4 State","entityConfig":"81536cc5706e923e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":410,"y":1640,"wires":[[]]},{"id":"464cfe4b9cb4c06c","type":"mqtt in","z":"1ffa1df498689b2b","name":"Pump4 State","topic":"Hydroponics_1/test1/output/pump4/state","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":170,"y":1640,"wires":[["374c64c338188fef"]]},{"id":"ab703a33e1cfe078","type":"mqtt in","z":"1ffa1df498689b2b","name":"Flow","topic":"Hydroponics_1/test1/sensor/Flow","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":590,"y":1340,"wires":[["fff4fb08799152a9"]]},{"id":"ce12a07080122c6a","type":"mqtt in","z":"1ffa1df498689b2b","name":"PH","topic":"Hydroponics_1/test1/sensor/PH","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":590,"y":1380,"wires":[["bfeead066721a082"]]},{"id":"ed0f843e682f3ce4","type":"debug","z":"1ffa1df498689b2b","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1720,"wires":[]},{"id":"9b7e1e2ce16fcaef","type":"mqtt in","z":"1ffa1df498689b2b","name":"Sensors","topic":"Hydroponics_1/test1/sensor/#","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":620,"y":1720,"wires":[["ed0f843e682f3ce4"]]},{"id":"fff4fb08799152a9","type":"ha-sensor","z":"1ffa1df498689b2b","name":"Flow","entityConfig":"1cc7fdafe8eacba2","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":1340,"wires":[[]]},{"id":"bfeead066721a082","type":"ha-sensor","z":"1ffa1df498689b2b","name":"PH","entityConfig":"d5a9f1d9dc3f25e4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":1380,"wires":[[]]},{"id":"0d617feddb5b8d76","type":"ha-sensor","z":"1ffa1df498689b2b","name":"EC","entityConfig":"bfd3692087028bcd","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":1420,"wires":[[]]},{"id":"fc1b385ab5ede2e5","type":"mqtt in","z":"1ffa1df498689b2b","name":"EC","topic":"Hydroponics_1/test1/sensor/EC","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":590,"y":1420,"wires":[["0d617feddb5b8d76"]]},{"id":"e85da1120ec4035a","type":"mqtt in","z":"1ffa1df498689b2b","name":"TEMP","topic":"Hydroponics_1/test1/sensor/TEMP","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":590,"y":1460,"wires":[["345c68a838fe5795"]]},{"id":"9f61972c45b4c903","type":"mqtt in","z":"1ffa1df498689b2b","name":"Water Level","topic":"Hydroponics_1/test1/sensor/WaterLevel","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":610,"y":1500,"wires":[["2bc7c7db846dba43"]]},{"id":"5302455259fa7809","type":"mqtt in","z":"1ffa1df498689b2b","name":"Power","topic":"Hydroponics_1/test1/sensor/Power","qos":"2","datatype":"auto-detect","broker":"b415e1164d7d3e42","nl":false,"rap":true,"rh":"2","inputs":0,"x":590,"y":1540,"wires":[["4706111853cf0828"]]},{"id":"345c68a838fe5795","type":"ha-sensor","z":"1ffa1df498689b2b","name":"TEMP","entityConfig":"012ec0eadcc9256d","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":1460,"wires":[[]]},{"id":"4706111853cf0828","type":"ha-sensor","z":"1ffa1df498689b2b","name":"Power","entityConfig":"b4138489a211f833","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":1540,"wires":[[]]},{"id":"2bc7c7db846dba43","type":"ha-binary-sensor","z":"1ffa1df498689b2b","name":"Water Level State","entityConfig":"90bd6c27ba3cbc1a","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":1500,"wires":[[]]},{"id":"b415e1164d7d3e42","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f4956e222aaf668d","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Water Pump","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Water Pump Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"febd662a1cc58a97","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Lights","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Lights Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8b58dbecb0169361","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump1","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Pump1 Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"5389a6247fbba479","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump2","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Pump2 Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"caba24ee7cef7029","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump3","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Pump3 Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"698115068bba51c2","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump4 Switch","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Pump4 Switch"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bf5d1a4969077641","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Pump State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3c57c2729f1a310f","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Mode Select","version":"6","entityType":"select","haConfig":[{"property":"name","value":"Mode Select"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["Auto","Manual"]}],"resend":false,"debugEnabled":true},{"id":"5fc5c522a06afe74","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Light State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Light State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"daaca62f434e4ddb","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump1 State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Pump1 State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2513bdeb4ac0eea0","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump2 State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Pump2 State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8db6ec941ce33a9f","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump3 State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Pump3 State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"81536cc5706e923e","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Pump4 State","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Pump4 State"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1cc7fdafe8eacba2","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Flow","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Flow"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"l/m"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d5a9f1d9dc3f25e4","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"PH","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"PH"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"pH"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bfd3692087028bcd","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"EC","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"EC"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"012ec0eadcc9256d","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"TEMP","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"TEMP"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"F"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"b4138489a211f833","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Power","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Power"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"watts"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"90bd6c27ba3cbc1a","type":"ha-entity-config","server":"be43bbf2.1696c8","deviceConfig":"","name":"Water Level","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Water Level"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"be43bbf2.1696c8","type":"server","name":"Home Assistant","addon":true}]